* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'outfit';
    list-style: none;
}

body {
    font-family: 'outfit';
    background: #79809E;
    color: #000000;
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    justify-content: center;
}


header {
    top: 0;
    position: fixed;
    background: #ffffff;
    color: #000000;
    width: 50%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    padding: 0 50px;
    z-index: 1000;
}
header .logo {
    font-size: 20px;
    text-transform: uppercase;
}

hr {
    background: white;
}

header nav ul {
    display: flex;
    font-size: 20px;
    color: rgb(0, 0, 0);

}
header nav ul li a {
    display: inline-block;
    color: #000000;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #000000;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #393B48;
}
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    header {
        width: 300px;
        font-size: 10px;
    }
    header nav ul {
        font-size: 17px;
    }
}

.contact_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20-x;
}


.contact-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.contact-left-title {
    margin-bottom: 0px;
}


.contact-left-title h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 5px;

}

.contact-left-title hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #000000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 700px;
    height: 60px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.textarea {
    width: 700px;
    height: 200px;
    border-radius: 10px;
    padding: 10px 20px;
}


button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: 400;
    font-size: 30px;
    border-style: none;
    width: 44rem;
    height: 60px;
}

button:hover {
    cursor: pointer;
    background: #7D86A1;
    transition: 0.5s all;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    body {
        background: url(../images/OUTIS.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .contact-inputs {
        width: 400px;
        height: 50px;
    }

    .textarea {
        width: 400px;
        height: 200px;
    }

    button {
        width: 400px;
        height: 50px;
    }

    .contact_container {
        margin-bottom: 10px;
    }
  }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .contact-inputs {
        width: 500px;
    }
    .textarea {
        width: 500px;
    }
    button {
        width: 31rem;
    }
    
  }
  
  @media only screen and (min-width: 1025px) {
  } 
  
  a {
    color: #000000;
  }